name: .NET CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0

    - name: Restore dependencies
      run: |
        dotnet restore Calculator/Calculator.csproj
        dotnet restore Calculator.Tests/Calculator.Tests.csproj

    - name: Build
      run: dotnet build Calculator/Calculator.csproj --no-restore --configuration Release

    - name: Test
      run: dotnet test Calculator.Tests/Calculator.Tests.csproj --no-restore --verbosity normal
